<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso</title>
    <link rel="stylesheet" href="/style/access.css">
</head>
<body>

    <main class="container">

        <form id="accessForm" class="card">
            
            <h2 class="title">Chave de Acesso</h2>

            <div class="input">
                <i class="bi bi-key"></i>
                <input type="password" name="key" id="key" placeholder="Introduza a chave de acesso" required />
            </div>
            <button id="btn" type="submit" class="btn">
                Entrar
            </button>
            <div id="feedback" class="feedback"></div>

        </form>
    </main>
    <script src="/js/access.js"></script>
</body>
</html>